---
import { Button } from '@/components/ui/button';
import { FaYoutube } from 'react-icons/fa6';
---

<a
  href="https://youtube.com/johnroddondoyano"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Subscribe to John Rod Dondoyano on YouTube"
>
  <Button>
    <FaYoutube />
    Subscribe!
  </Button>
</a>
